<div class="container">
    <div class="row m-5">
		<div class="col">
			<div class="card card-width ">
				<div class="card-header font-weight-bold">
					<h3>Registration</h3>
				</div>
                <div class="card-body">
                    <form action="" #registerForm = 'ngForm'>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
									<label for='Name'>Name:</label>
									<div class="small text-danger font-weight-light " *ngIf="regName.errors?.required && regName.touched">
										Please Enter name
									 </div> 
									<input 
										type='text' 
										id='Name' 
										class="form-control"
										name="Name" 
										#regName= "ngModel"  
										[(ngModel)]='rName' 
										placeholder="Name goes here..."
										required/>
								</div> 
							</div>
						</div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
									<label for='Password'>Password:</label>
									<div class="small text-danger font-weight-light " *ngIf="regPassword.errors?.required && regPassword.touched">
										Please Enter Password
									 </div> 
									<input 
										type='password' 
										id='Password' 
										class="form-control"
										name="Password" 
										#regPassword= "ngModel"  
										[(ngModel)]='rPassword' 
										placeholder="Set your password"
										required/>
								</div> 
							</div>
						</div>
							  
						<div class="row">
                            <div class="col">
                                <div class="form-group">
									<label for='rePassword'>Re-Enter Password:</label>
									<div class="small text-danger font-weight-light " *ngIf="regrePassword.errors?.required && regrePassword.touched">
										Please Re-Enter Password
									 </div> 
									 <div class="small text-danger font-weight-light " *ngIf="checkpass">
										Please check the Password again!
									 </div> 
									<input 
										type='password' 
										id='rePassword' 
										class="form-control"
										name="rePassword" 
										#regrePassword= "ngModel"  
										[(ngModel)]='rrePassword' 
										placeholder="Re-Type the password"
										required/>
								</div> 
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="form-group">
									<label for='Email'>Email:</label>
									<div class="small text-danger  font-weight-light"  *ngIf="regEmail.errors?.required &&  regEmail.touched">
										Please Enter Email
									 </div>  
                                    <input 
										type='email'
										class="form-control " 
										id='Email' 
										name="Email" 
										#regEmail = "ngModel"
										[(ngModel)]='rEmail'
										placeholder="Email-Id goes here..."
										required/>
								</div>
								 
                            </div>
                        </div>

                        <div class="row">
							<div class="col">
								<div class="form-group">
									<label for='Mobile'>Mobile:</label>
									<div class="small text-danger  font-weight-light"  *ngIf="regMobile.errors?.required &&  regMobile.touched">
										Please Enter Mobile
									 </div>  
                                    <input 
										type='number'
										class="form-control " 
										id='Mobile' 
										name="Mobile"
										#regMobile = "ngModel"
										[(ngModel)]='rMobile'
										placeholder="Mobile number here"
										required/>
								</div>
								 
                            </div>
                        </div>


                                 
                        <div class="row">
                            <div class="col">
                                <button type="submit" 
										class="btn btn-success"
										(click)='addBuyer()'
										[disabled] = '!registerForm.valid'
										>Register
								</button>
                            </div>
							<div class="col">
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>